@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gibberish';
  src: url(./public/fonts/SquarePeg-Regular.ttf);
  font-weight: 400;
}

.font-gib {
  font-family: 'gibberish';
}
